/*--------------------------------------------------------------------- CSS RESET -------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	vertical-align: baseline;
	text-decoration: none;
}
section, article, aside, header, footer, nav, dialog, figure {
	display:block;
}
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/*--------------------------------------------------------------------- END OF RESET -------------------------------------------------------------------------- */
*{
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	box-sizing: border-box;
	color: #EEE;
}
li:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.2);
}
a:hover,button:hover {
	cursor: pointer;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
body {
	background-image: url("../images/bgNoise.png");
	background-repeat: repeat;
}
button {
	border: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #CCC;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #CCC;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #CCC;
}
:-moz-placeholder { /* Firefox 18- */
  color: #CCC;
}
.addressBox {
	display: inline-block;
	width: 100%;
}
.addressButton {
	display: inline-block;
	float: right;
	color: #333;
	font-weight: 100;
	font-size: 14px;
	font-style: italic;
	width: 40%;
	text-align: center;
}
.addressButton img {
	width: 8vmin;
}
.addressText {
	float: left;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	width: 60%;
}
.callBackText {
	font-size: 14px;/* mq 24px */
}
.contentContainer {
	width: 100%;
	margin: 0 auto;
	padding: 12px;
}
.didYouKnowBox {
	display: inline-block;
	font-weight: bold;
	float: right;
	margin: 0;
	padding: 18px 0 0 12px;
	text-align: left;
	width: 40%;
	min-height: 100%;
}
.didYouKnow {
	color: #555 !important;
	font-weight: inherit;
	font-size: 18px;/* mq 26px */
	letter-spacing: 1px;
	margin: 12px 0;
}

.didYouKnowBox ul li {
	color: #0b52a0;
	line-height: 30px;
	font-weight: inherit;
	font-size: 14px;/* mq 20px, */
}
.displayNone {
	display: none;
}
.icon {
	display: inline-block;
	vertical-align: middle;
	margin: 0 6px;
}
.icon img {
	width: 5vmin;
}
.boldItalic {
	display: inline;
	color: inherit;
	font-weight: bold;
	font-style: italic;
}
.footerBox {
	vertical-align: bottom;
	font-size: 12px;
	color: #333;
	padding-bottom: 24px;
}
.footerBox a {
	color: #0b52a0;
	text-decoration: underline;
}
.formBox {
	font-size: 16px;/* mq 24px, */
	margin: 10px 0;
}
.formBox button {
	line-height: 30px;
	font-size: 14px;/* mq 24px, */
	clear: both;
	float: none !important;
	margin: 0 auto !important;
	text-align: center !important;
	background-color: #3E85D3;
	border-radius: 12px;
	padding: 6px 15px;
}
.formBox label {
	position: relative;
	float: left;
	display: inline-block;
	color: white;
	font-weight: 600;
	width: 30%;
	text-align: right;
}
.formBox label.error{
	color: white;
	font-size: 50%;
	font-style: italic;
}
.formBox select,.formBox input,.formBox textarea {
	font-size: inherit;
	color: #333;
	width: 60%;
	height: 30px;
	margin: 0 5%;
	text-align: left;
	padding-left: 10px;
	border: 1px solid #AAA;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.10), 0px 1px 0 rgba(255,255,255,0.4);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.10),0px 1px 0 rgba(255,255,255,0.4);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.10), 0px 1px 0 rgba(255,255,255,0.4);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -ms-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
	overflow: hidden;
	
}
.formBox select {
	background-color: white;
}
.formBox select option {
	font-size: inherit;
	color: inherit;
}
.formBox textarea {
	height: auto;
}
.formContainer {
	margin-top: 24px;
	padding: 6px 0;
	background-color: #0b52a0;
	border-radius: 24px;
}
.fullListing {
	display: inline-block;
	vertical-align: middle;
}
.fullListing img {
	width: 4min;
}
.getStarted {
	font-size: 15px; /* mq 25px, */
	padding: 6px;
	border: none;
	border-radius: 12px;
	margin: 12px auto 0 auto;
	width: 60%;
	background-color: #3E85D3;
}
.hoursBox {
	color: #666;
	font-weight: bold;
	font-size: 12px; /* mq 18px, */
	line-height: 16px; /* mq 24px, */
	letter-spacing: 1px;
	padding: 10px;
	border-radius: 12px;
	background-color: #FFFFBD;
	margin: 12px auto;
	width: 80%;
	text-align: center;
}
.iconBox {
	position: relative;
	display: inline-block;
	width: 25vmin;
	height: 25vmin;
	object-fit: contain;
}
.iconBox img{
	position: absolute;
	width: 11vmin;
	height: auto;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.iconContent {
	display: none;
	font-size: 16px; /* mq 22px, */
	border-radius: 16px;
	padding: 16px;
}
.iconLabel {
	position: absolute;
	font-size: 12px; /* mq 24px, */
	width: 100%;
	bottom: 0;
	left: 0;
	padding-bottom: 6px; /* mq 12px, */
}
/* ------------------------------------------------ made it this far, above is clean -----------------------------------------------------------*/
.infoBoxLine {
	display: inline-block;
	float: left;
	margin: 12px 0;
	width: 60%;
	border-right: 1px dotted #AAA;
	padding: 0;
}
.infoBox {
	width: 90%;
	margin: 12px auto;
	padding: 18px 12px;
	border-radius: 2px;
	text-align: left;
	background-color: white;
}
.infoBoxContent {
	color: #555;
	font-weight: regular;
	font-size: 16px;
	letter-spacing: 1px;
	padding: 12px 0 12px 0;
}
.infoBoxFooter {
	color: #0b52a0;
	text-align: center;
	font-weight: regular;
	font-size: 12px;
	letter-spacing: 1px;
	padding: 6px 0 6px 0;
}
.infoBoxHighlight {
	color: #666;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.1vmin;
	padding: 12px;
	border-radius: 9px;
	background-color: #D7FFFF;
}
.infoBoxLink {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.1vmin;
	padding: 24px 9px;
	border-radius: 1vmin;
	background-color: #029eb6;
	width: 80%;
	margin: 12px auto;
	box-shadow: 1px 1px 1px #AAA;
}
.infoBoxTitle {
	color: #555;
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 0.9px;
}
.jobTitle {
	color: #333;
	font-weight: 100;
	padding: 0;
}
.learnMore {
	width: 100%;
	margin: 12px auto;
	color: white;
	background-color: #0b52a0;
	border-radius: 25px;
	font-size: 16px;
	font-weight: 500;
	padding: 16px;
}
.leftContainer {
	float: left;
	display: inline-block;
	float: left;
	width: 40%;
	border-right: 1px solid #CCC;
}
.lemons {
	display: inline;
	color: #fdc43e !important;
}
.menuNav {
	border-bottom: 1px solid white;
}
.darkSection {
	text-align: left;
	width: 100%;
	padding: 6% 6%;
}
.darkText {
	display: inline-block;
	width: 60%;
	vertical-align: middle;
	padding-right: 10%;
}
.lightText {
	display: inline-block;
	width: 60%;
	vertical-align: middle;
	padding-left: 10%;
}
.secIcon {
	position: relative;
	display: inline-block;
	width: 40%;
	vertical-align: middle;
}
.secIcon img {
	position: relative;
	height: 80%;
	width: 80%;
}
.lightSection {
	display: inline-block;
	text-align: right;
	width: 100%;
	padding: 6% 6%;
	background-color: #3E85D3;
	vertical-align: middle;
}
.
.page {
	position: absolute;
	width: inherit;
	height: 100%;
}
.pageSubTitle {
	color: #999;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	padding: 12px 0 0 12px;
}
.pageTitle {
	display: block;
	clear: both;
	color: white;
	font-size: 16px;
	font-weight: bold;
	margin: 0 auto;
	text-align: left;
	border-radius: 12px;
	padding: 16px 9px;
	background-color: #0b52a0;
}
.phoneBox {
	color: inherit;
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	background-color: #3E85D3;
	border-radius: 12px;
	float: right !important;
	text-align: center !important;
	padding: 9px;
	transform: translate(0,-25%);
	-ms-transform: translate(0, -25%);
    -webkit-transform: translate(0, -25%);
}
.rightContainer {
	display: inline-block;
	width: 60%;
	max-width: 60%;
	padding: 0 0 0 16px;
	height: 100%;
}
.selected {
	background-color: rgba(255, 255, 255, 0.2);
}
.staffMember {
	border-bottom: 1px solid #CCC;
	padding-bottom: 6px;
	margin: 6px auto 6px auto;
	width: 90%;
	color: #333;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
}
.subMenu {
	text-indent: 30px;
	font-weight: lighter;
}
.swiper-container {
	width: 100%;
	height: 100%;
	text-align: center;
}
.swiper-pagination-bullets {
	position: fixed !important;
	bottom: 0;
}
.text2 {
	text-align: left;
	font-size: 16px;
	font-weight: lighter;
	text-indent: 16px;
	line-height: 16px;
	color: #1c252b;
}
.underline {
	color: inherit;
	text-decoration: underline;
}
/* ------------------------------------------------ Common ID styles ------------------------------------------------- */
#bigolbox {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	text-align: center;
	vertical-align: middle;
	color: black;
}
#blackBox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, black, rgba(255,0,0,0));
	opacity: 0;
	z-index: 11;
}
#callBackForm {
	padding-top: 6px;
	border-radius: 12px;
	width: 80%;
	margin: 0 auto 0 auto;
}
#callBackForm .formBox label {
	color: white;
}
#callBackForm .formBox input {
	color: black;
}
#caption {
	clear: both;
	display: block;
	font-style: italic;
	text-align: center;
}
#carelessDrivingBox {
	background-color: green;
}

#container {
	z-index: -2;
	position: absolute;
	width: inherit;
}
#content {
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}
#dropDownArrow {
	display: inline-block;
	width: 0; 
	height: 0;
	padding-bottom: 2px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid white;
}
#iconContainer {
	margin: 0 auto;
}
#impairedDrivingBox {
	background-color: orange;
}
#map {
	width: 100%;
	padding-bottom: 16px;
}
#menuButton {
	position: fixed;
	top: 0;
	left: 0;
	display: inline-block;
	text-align: center;
	height: 10vh;
	width: 10vh;
	min-height: 44px;
	min-width: 44px;
	background-color: #0b52a0;
	border: none;
}
#menuButton img {
	position: relative;
	max-height: 4vh;
}
#menuImg {
	margin: 25px 0 0 50px;
	background-color: white;
	border-radius: 25px;
	width: 200px;
	padding: 25px;
	object-fit: contain;
}
#menuImg:hover{
	opacity: 0.8;
	filter: alpha(opacity=80);
}
#menuImg img {
	vertical-align: middle;
	max-width: 150px;
}
#phoneIcon {
	position: fixed;
	top: 0;
	right: 0;
	display: inline-block;
	height: 10vh;
	width: 10vh;
	min-width: 44px;
	min-height: 44px;
	background-color: #0b52a0;
	border: none;
}
#phoneIcon img {
	height: 6vh;
	min-width: 44px;
	min-height: 44px;
	vertical-align: middle;
}
#sideMenu {
	position: fixed;
	display: table;
	background-color: #0b52a0;
	z-index: 20;
}
#sideMenu ul {
	display: table-cell;
}
#sideMenu ul li {
	display: block;
	padding-left: 20px;
	vertical-align: middle;
	line-height: 44px;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: regular;
}
#sideMenuPhone {
	background-color: #0b52a0;
	font-weight: bold;
	text-align: center;
}
#sideMenuTitle {
	background-color: rgba(0, 0, 0, 0.3);
	font-weight: bold;
	text-align: center;
}
#streetRacingBox {
	clear: both;
	background-color: purple;
}
#title {
	background-color: #0b52a0;
	border: none;
	font-size: 20px;
	line-height: 10vh;
	text-align: center;
}
#topMenu {
	position: fixed;
	top: 0;
	line-height: 44px;
	min-height: 44px;
}
#topTitle {
	position: fixed;
	z-index: -1;
	top: 0;
	line-height: 44px;
	min-height: 44px;
	width: 100%;
	text-align: center;
	background-color: #0b52a0;
}
#topTop {
	position: fixed;
	bottom: 0;
	right: 0;
}
#trafficTicketsBox {
	background-color: red;
}
#vid {
	margin-top: 24px;
	width: 100%;
	height: 150px;
	padding: 0 10%;
}
#youngsImg {
	background-color: white;
	border-radius: 25px;
	width: 80%;
	margin: 20% auto;
	padding: 25px;
}
#youngsImg img{
	width: 75%;
}

/* ---------------------------Portrait Classes-------------------------------- */
	.botMenuPortrait {
	}
	.containerPortrait {
		top: 10vh;
		left: 0;
		min-height: 100%;
	}
	.contentPortrait {
		height: calc(100% - 10vh);
	}
	.menuButtonPortrait {
	}

	.pageTitlePortrait {

	}
	.sideMenuPortrait {
		top: 10vh;
		left: -300px;
		width: 300px;
		min-height: 100%;
	}
	.sideMenuPhonePortrait {
		display: none !important;
	}
	.sideMenuTitlePortrait {
		display: none !important;
	}
	.topMenuPortrait {
		top: 0;
		left: 0;
		width: 100vw;
		height: 10vh;
		background-color: #0b52a0;
	}

/* -------------------------------------Landscape classes --------------------------------------*/
	.blackBoxLandscape {
		display: none;
	}
	.botMenuLandscape {
		display: none !important;
	}
	.containerLandscape {
		top: 0;
		left: 300px;
		height: 2000px;
	}
	.contentLandscape {
		height: 100%;
		max-width: 1200px !important;
		margin: 0 auto;
	}
	.menuButtonLandscape {
		display: none !important;
	}
	.pageLandscape {
		min-height: 100%;
	}
	.pageTitleLandscape {
	}
	.sideMenuLandscape {
		position: fixed;
		top: 0;
		left: 0;
		width: 300px;
		height: 100vh;
	}
	.sideMenuLandscape ul li {
		font-size: 22px !important;
	}
	.sideMenuPhoneLandscape {
		font-weight: normal !important;
		letter-spacing: 3px !important;
		font-size: 22px !important;
		line-height: 22px !important;
		padding: 20px 0 10px 0 !important;
	}
	.sideMenuPhoneLandscape a {
		/*pointer-events: none;*/
	}
	.sideMenuTitleLandscape {
		font-size: 22px !important;
		line-height: 60px !important;
		padding: 0px !important;
	}
	.topMenuLandscape {
		display: none !important;
	}
	.topTitleLandscape {
		display: none !important;
	}
	
/* ------------------------------------------------ Class Media Queries ------------------------------------------------- */
@media screen and (min-width: 860px) {
	#map {
		height: 350px;
	}
	#vid {
		height: 300px;
	}
	.addressButton {
		font-size: 24px;
	}
	.addressText {
		font-size: 22px;
	}
	.callBackText {
		font-size: 24px;
	}
	.contentContainer {
		width: 60%;
		min-width: 600px;
	}
	.darkSection {
		font-size: 28px;
	}
	.didYouKnow {
		font-size: 26px;
	}
	.didYouKnowBox ul li {
		font-size: 20px;
		line-height: 36px;
	}
	.formBox {
		font-size: 24px;
		margin: 36px;
	}
	.formBox button {
		font-size: 24px;
	}
	.formBox select,.formBox input  {
		height: 40px;
	}
	.hoursBox {
		font-size: 18px;
		line-height: 24px;
	}
	.iconContent {
		font-size: 16px;
	}
	.iconBox {
		width: 225px;
		height: 225px;
	}
	.infoBoxLink {
		font-size: 20px;
	}
	.jobTitle {
		margin: 12px 0 0 0;
	}
	.getStarted {
		font-size: 25px;
	}
	.learnMore {
		font-size: 28px;
		padding: 16px 32px;
	}
	.lightSection {
		font-size: 28px;
	}
	.icon {
		padding: 8px 0;
	}
	.iconContent {
		font-size: 22px;
	}
	.iconLabel {
		font-size: 24px;
		padding-bottom: 12px
	}
	.infoBoxFooter {
		font-size: 14px;
	}
	.text2 {
		font-size: 24px;
		line-height: 32px;
		margin-left: auto;
		margin-right: auto;
		text-indent: 0;
		width: 50vw;
	}
	.hoursBox {
		font-size: 20px;
	}
	.hLine {
		width: 50vw;
		margin-left: auto;
		margin-right: auto;
	}
	.pageSubTitle {
		font-size: 24px;
		padding: 12px 0 0 12px;
	}
	.pageTitle {
		font-size: 24px;
		padding: 18px 16px 16px 64px;
	}
	.phoneBox {
		font-size: 24px;
	}
	.staffMember {
		font-size: 22px;
		padding: 8px 0;
	}
	
}
